.rowMi {
    position: absolute;
    top: 0px;
    bottom: 150px;
    left: 0px; 
    right: 0px;
    width: 100%;
    overflow-y: scroll;

    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.rowMi::-webkit-scrollbar {
    display: none;
}
.chatControls{
    position: absolute;
    bottom: 0;
    width: 100%;
}